@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.container {
  width: 90%;
  max-width: 1360px;
  margin: 0 auto;
}


h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

p, span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.App {
  background: url('./assets/img/blur-hospital.png');
}

.bottomInput {
  outline: none;
}

.bottomInput::placeholder {
  color: black;
  font-weight: 400;
}

.bottomExtraDiv {
  position: absolute;
  width: 142px;
  top: 103%;
  left: -19px;
  z-index: 100;
}

.navLiHover:hover .navHoverSpan {
  display: block !important;
}

.btn-more-details {
  opacity: 0.9;
  background: linear-gradient(90deg, #0D4C93 0%, #00C9C9 100%);
}

.btn-more-details:hover {
  background: #00C9C9;
}

.bgProductCard {
  border-radius: 35px;
  opacity: 0.9;
  background: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0.00) 100%);
}

.services {
  background: url("./assets/img/services-bg.png");
  background-repeat: no-repeat;
  height: 100%;
  background-position: bottom;
}

.about .right {
  border-radius: 0px 50px 50px 0px;
  background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0.00) 100%);
}

.news-card {
  border: 2px solid #F6F6F6;
  opacity: 0.9;
  background: linear-gradient(180deg, #F8F8F8 0%, rgba(255, 255, 255, 0.00) 100%);
}

.news-card:hover .news-card-title {
  text-decoration: underline;
  @apply text-lightBlue;
}

.news-card:hover .news-card-btn {
  background: none;
  @apply  !bg-lightBlue;
}

li {
  list-style: none;
}
footer a {
  font-weight: 300;
}
footer a:hover {
  @apply text-lightBlue;
  text-decoration: underline;
}