.swiper {
  width: 100%;
}

.swiper-wrapper {
  height: 740px !important;
    @apply -sm:!h-[680px];
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-pagination {
  bottom: 100px !important;
}

.swiper-pagination-bullet {
  width: 25px !important;
  height: 25px !important;
  background-color: transparent !important;
  border: 1px solid #00C9C9;
}

.swiper-pagination-bullet-active {
  background-color: #00C9C9 !important;
}
.news-swipper {
  position: relative;
}

.news-swipper .swiper-wrapper{
  height: 800px !important;
}

.news-swipper .swiper-button-next {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 47%;
  width: 50px;
  height: 50px;
  z-index: 1000;
  border-radius: 50%;
  background-image: url("./assets/img/arrow-right.png");
}

.news-swipper .swiper-button-prev {
  position: absolute;
  cursor: pointer;
  top: 47%;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 100;
  border-radius: 50%;
  background-image: url("./assets/img/arrow-right.png");
  transform: rotate(180deg);
}

.partner-swipper .swiper-button-next {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 40%;
  width: 50px;
  height: 50px;
  z-index: 1000;
  border-radius: 50%;
  background-image: url("./assets/img/arrow-right.png");
}
.partner-swipper .swiper-button-prev {
  position: absolute;
  cursor: pointer;
  top: 40%;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 100;
  border-radius: 50%;
  background-image: url("./assets/img/arrow-right.png");
  transform: rotate(180deg);
}

.news-swipper .swiper-slide-prev {
  margin-left: 50px !important;
}

.news-swipper .swiper-slide {
  width: 28% !important;
}
.partner-swipper .swiper-slide {
  width: 80% !important;
  margin-left: 85px;
}
.partner-swipper .swiper-wrapper{
  height: 300px !important;
  width: 275px !important;
}

.partner-card {
border: 1px solid #ECECEC;
}